In [1]:
# This is file for data EDA

import pandas as pd
dirpath = 'C:/Users/rihot/Desktop/Deep_learning/DACON_used_car_price/'

train = pd.read_csv('data/train.csv')
test = pd.read_csv('data/test.csv')

In [2]:
train = train.drop(['id'], axis=1)
test= test.drop(['id'], axis=1)

In [3]:
def check_missing_col(dataframe):
    missing_col = []
    for col in dataframe.columns:
        missing_values = sum(dataframe[col].isna())
        # isna : if value is NAN, return 1
        is_missing = True if missing_values >= 1 else False
        if is_missing:
            print(f'결측치가 있는 컬럼 : {col} 입니다')
            print(f'해당 컬럼에 총 {missing_values} 개의 결측치가 존재합니다.')
            missing_col.append([col, dataframe[col].dtype])
    if missing_col == []:
        print('결측치가 존재하지 않습니다')
    return missing_col

In [4]:
missing_col = check_missing_col(train)

결측치가 존재하지 않습니다

In [5]:
missing_col = check_missing_col(test)

결측치가 존재하지 않습니다

In [6]:
train['brand'] = train['title'].apply(lambda x : x.split(" ")[0])
test['brand'] = test['title'].apply(lambda x: x.split(" ")[0])

In [7]:
train.brand.head()

0    Toyota
1    Toyota
2      Land
3     Lexus
4    Toyota
Name: brand, dtype: object

In [8]:
test.brand.head()

0    Mercedes-Benz
1            Honda
2    Mercedes-Benz
3           Toyota
4           Toyota
Name: brand, dtype: object

In [9]:
# set 은 집합을 처리하기 위한 자료형으로 중복을 허용하지 않는다.
# | 은 합집합 기호, & 교집합 기호, - 차집합 기호
set(train.brand) | set(test.brand)

{'ALPINA',
 'Acura',
 'Audi',
 'BMW',
 'Bentley',
 'Chevrolet',
 'DAF',
 'Dodge',
 'Fiat',
 'Ford',
 'GAC',
 'GMC',
 'Honda',
 'Hyundai',
 'IVECO',
 'IVM',
 'Infiniti',
 'Isuzu',
 'Iveco',
 'JMC',
 'Jaguar',
 'Jeep',
 'Kia',
 'Land',
 'Lexus',
 'Lincoln',
 'MAN-VOLKSWAGEN',
 'MINI',
 'Mack',
 'Man',
 'Mazda',
 'Mercedes-Benz',
 'Mercedes-Benz/52',
 'Mitsubishi',
 'Nissan',
 'Peugeot',
 'Pontiac',
 'Porsche',
 'Rolls-Royce',
 'Scania',
 'Toyota',
 'Volkswagen',
 'Volvo'}

In [10]:
train['brand'] = train['brand'].replace({'Mercedes-Benz/52' : 'Mercedes-Benz'})

In [11]:
brand_label = {_brand : label for label, _brand in enumerate(set(train.brand)|set(test.brand))}
brand_label

{'Mercedes-Benz': 0,
 'Bentley': 1,
 'Peugeot': 2,
 'Nissan': 3,
 'Fiat': 4,
 'Volkswagen': 5,
 'ALPINA': 6,
 'Iveco': 7,
 'Volvo': 8,
 'DAF': 9,
 'Toyota': 10,
 'JMC': 11,
 'Isuzu': 12,
 'Mazda': 13,
 'BMW': 14,
 'IVECO': 15,
 'MINI': 16,
 'Rolls-Royce': 17,
 'Honda': 18,
 'Acura': 19,
 'Infiniti': 20,
 'Lexus': 21,
 'MAN-VOLKSWAGEN': 22,
 'Scania': 23,
 'Kia': 24,
 'Lincoln': 25,
 'Chevrolet': 26,
 'Audi': 27,
 'Land': 28,
 'GMC': 29,
 'Dodge': 30,
 'IVM': 31,
 'Hyundai': 32,
 'Jaguar': 33,
 'GAC': 34,
 'Porsche': 35,
 'Man': 36,
 'Mack': 37,
 'Jeep': 38,
 'Pontiac': 39,
 'Mitsubishi': 40,
 'Ford': 41}

In [12]:
train['brand'] = train['brand'].replace(brand_label)
test['brand'] = test['brand'].replace(brand_label)

In [13]:
car_title = set(train.title) | set(test.title)
car_title

{'ALPINA B3',
 'Acura MDX',
 'Acura RDX',
 'Acura TL',
 'Acura TSX',
 'Acura ZDX',
 'Audi S6',
 'BMW 325',
 'BMW 335',
 'BMW 525',
 'BMW 528',
 'BMW 535',
 'BMW 730',
 'BMW 740',
 'BMW 745',
 'BMW 750',
 'BMW X3',
 'BMW X6',
 'Bentley Arnage',
 'Chevrolet Camaro',
 'Chevrolet Evanda',
 'Chevrolet Traverse',
 'DAF 45',
 'DAF 95XF TRACTOR HEAD',
 'DAF CF',
 'DAF FA 55. 180',
 'DAF XF TRACTOR HEAD',
 'Dodge Charger',
 'Fiat Ducato',
 'Ford Edge',
 'Ford Escape',
 'Ford Expedition',
 'Ford Explorer',
 'Ford F 150',
 'Ford Focus',
 'Ford Fusion',
 'Ford Mondeo',
 'Ford Mustang',
 'Ford TRANSIT PICKUP',
 'Ford Transit',
 'GAC Gonow Other',
 'GMC Terrain',
 'Honda Accord',
 'Honda CR-V',
 'Honda Civic',
 'Honda Crosstour',
 'Honda Element',
 'Honda Fit',
 'Honda Insight',
 'Honda Odyssey',
 'Honda Pilot',
 'Honda Ridgeline',
 'Hyundai Azera',
 'Hyundai Elantra',
 'Hyundai Santa Fe',
 'Hyundai Sonata',
 'Hyundai Tucson',
 'Hyundai ix35',
 'IVECO EUROTECH 7.50E-16',
 'IVM LT35',
 'Infiniti FX',
 'Infiniti JX',
 'Infiniti M35',
 'Infiniti QX80',
 'Isuzu CABSTER',
 'Isuzu NQR',
 'Iveco EUROCARGO 120e18',
 'Iveco TRUCK',
 'JMC Vigus',
 'Jaguar X-Type',
 'Jaguar XJ8',
 'Jeep Cherokee',
 'Jeep Wrangler',
 'Kia Cerato',
 'Kia Optima',
 'Kia Picanto',
 'Kia Rio',
 'Kia Sorento',
 'Kia Soul',
 'Kia Stinger',
 'Land Rover Discovery',
 'Land Rover Range Rover',
 'Land Rover Range Rover Evoque',
 'Land Rover Range Rover Sport',
 'Land Rover Range Rover Velar',
 'Lexus CT 200h',
 'Lexus ES 300',
 'Lexus ES 330',
 'Lexus ES 350',
 'Lexus GS 300',
 'Lexus GS 350',
 'Lexus GX 460',
 'Lexus GX 470',
 'Lexus IS 250',
 'Lexus LS 460',
 'Lexus LX 570',
 'Lexus RX 300',
 'Lexus RX 330',
 'Lexus RX 350',
 'Lexus RX 400',
 'Lincoln Mark',
 'MAN-VOLKSWAGEN FLATBED',
 'MINI Cooper',
 'MINI Cooper Countryman',
 'MINI Cooper Coupé',
 'Mack CH613',
 'Mack CH613 CONVENTIONAL CAB',
 'Mack CXN613',
 'Mack CXN613 CAB BEHIND ENGINE',
 'Mack R-686ST',
 'Man 26-403',
 'Man BOCKMANN',
 'Man Diesel 19.314 FILT-N',
 'Man LE 8. 180 PLATFORM TRUCK',
 'Man TGA 18.360',
 'Man Truck 18.44',
 'Mazda 323',
 'Mazda 6',
 'Mazda CX-9',
 'Mazda Tribute',
 'Mercedes-Benz 200',
 'Mercedes-Benz 220',
 'Mercedes-Benz 300',
 'Mercedes-Benz 320',
 'Mercedes-Benz 350',
 'Mercedes-Benz 450',
 'Mercedes-Benz 709 DB',
 'Mercedes-Benz 814',
 'Mercedes-Benz ATEGO',
 'Mercedes-Benz C 180',
 'Mercedes-Benz C 250',
 'Mercedes-Benz C 300',
 'Mercedes-Benz C 320',
 'Mercedes-Benz C 350',
 'Mercedes-Benz C 450 AMG',
 'Mercedes-Benz C 63 AMG',
 'Mercedes-Benz CABIN PLUS CHASSIS ONLY',
 'Mercedes-Benz CLA 250',
 'Mercedes-Benz CLS 500',
 'Mercedes-Benz DUMP TRUCK',
 'Mercedes-Benz E 200',
 'Mercedes-Benz E 300',
 'Mercedes-Benz E 320',
 'Mercedes-Benz E 350',
 'Mercedes-Benz E 550',
 'Mercedes-Benz G 550',
 'Mercedes-Benz G 63 AMG',
 'Mercedes-Benz GL 450',
 'Mercedes-Benz GLA 180',
 'Mercedes-Benz GLA 250',
 'Mercedes-Benz GLC 300',
 'Mercedes-Benz GLE 350',
 'Mercedes-Benz GLE 43 AMG',
 'Mercedes-Benz GLE 450',
 'Mercedes-Benz GLK 300',
 'Mercedes-Benz GLK 350',
 'Mercedes-Benz ML 320',
 'Mercedes-Benz ML 350',
 'Mercedes-Benz ML 430',
 'Mercedes-Benz Maybach',
 'Mercedes-Benz S 450',
 'Mercedes-Benz S 550',
 'Mercedes-Benz SL 400',
 'Mercedes-Benz WATER TANKER',
 'Mercedes-Benz/52',
 'Mitsubishi CANTER PICK UP',
 'Mitsubishi Eclipse',
 'Mitsubishi Galant',
 'Mitsubishi L200',
 'Mitsubishi Montero',
 'Mitsubishi Pajero',
 'Nissan A',
 'Nissan Altima',
 'Nissan Cabstar',
 'Nissan Frontier',
 'Nissan INFINITI M90.150/2',
 'Nissan Maxima',
 'Nissan Murano',
 'Nissan Pathfinder',
 'Nissan Primera',
 'Nissan Quest',
 'Nissan Rogue',
 'Nissan Sentra',
 'Nissan Titan',
 'Nissan Versa',
 'Nissan X-Trail',
 'Nissan Xterra',
 'Peugeot 206',
 'Peugeot 307',
 'Peugeot 308',
 'Peugeot 607',
 'Pontiac Vibe',
 'Porsche Cayenne',
 'Porsche Macan',
 'Porsche Panamera',
 'Rolls-Royce Ghost',
 'Scania P94 FLATBED',
 'Scania TRACTOR HEAD',
 'Toyota 4-Runner',
 'Toyota Avalon',
 'Toyota Avensis',
 'Toyota C-HR',
 'Toyota Camry',
 'Toyota Coaster',
 'Toyota Corolla',
 'Toyota DYNA 200',
 'Toyota Dyna',
 'Toyota Hiace',
 'Toyota Highlander',
 'Toyota Hilux',
 'Toyota Land Cruiser',
 'Toyota Matrix',
 'Toyota Prado',
 'Toyota Prius',
 'Toyota RAV 4',
 'Toyota Sequoia',
 'Toyota Sienna',
 'Toyota Solara',
 'Toyota Tacoma',
 'Toyota Tundra',
 'Toyota Venza',
 'Toyota Vitz',
 'Toyota Yaris',
 'Volkswagen 17.22',
 'Volkswagen Golf',
 'Volkswagen Jetta',
 'Volkswagen LT',
 'Volkswagen Passat',
 'Volkswagen Sharan',
 'Volkswagen T4 Caravelle',
 'Volkswagen T6 other',
 'Volkswagen Tiguan',
 'Volkswagen Touareg',
 'Volvo FH12',
 'Volvo FL12',
 'Volvo FL6',
 'Volvo FL7',
 'Volvo S80',
 'Volvo XC60',
 'Volvo XC90'}

In [14]:
car_title_label = {car_title : label for label, car_title in enumerate(car_title)}
car_title_label

{'Mercedes-Benz/52': 0,
 'Toyota Tundra': 1,
 'Kia Picanto': 2,
 'Honda Element': 3,
 'Volkswagen T4 Caravelle': 4,
 'Hyundai Tucson': 5,
 'Peugeot 206': 6,
 'DAF XF TRACTOR HEAD': 7,
 'Ford Fusion': 8,
 'Land Rover Range Rover Evoque': 9,
 'Kia Optima': 10,
 'Lexus GS 350': 11,
 'Lexus GX 460': 12,
 'Infiniti JX': 13,
 'Peugeot 308': 14,
 'Hyundai Sonata': 15,
 'Ford Mondeo': 16,
 'Mercedes-Benz E 300': 17,
 'Kia Sorento': 18,
 'Ford Transit': 19,
 'Mack CXN613 CAB BEHIND ENGINE': 20,
 'Honda Insight': 21,
 'Nissan Murano': 22,
 'GMC Terrain': 23,
 'Mercedes-Benz CLA 250': 24,
 'Volkswagen LT': 25,
 'Acura TL': 26,
 'Volkswagen Jetta': 27,
 'Mercedes-Benz ML 350': 28,
 'Toyota Hiace': 29,
 'Mercedes-Benz E 550': 30,
 'Toyota Highlander': 31,
 'Mercedes-Benz CLS 500': 32,
 'BMW 528': 33,
 'DAF FA 55. 180': 34,
 'Lexus ES 300': 35,
 'Mercedes-Benz 300': 36,
 'Ford Escape': 37,
 'Porsche Cayenne': 38,
 'Acura ZDX': 39,
 'Volvo FL7': 40,
 'Mercedes-Benz GLC 300': 41,
 'Lexus RX 350': 42,
 'Toyota 4-Runner': 43,
 'Mercedes-Benz E 200': 44,
 'Scania TRACTOR HEAD': 45,
 'Mercedes-Benz 450': 46,
 'Toyota Land Cruiser': 47,
 'Mercedes-Benz 200': 48,
 'Nissan Quest': 49,
 'Lexus ES 330': 50,
 'Toyota Prius': 51,
 'Ford F 150': 52,
 'Mercedes-Benz C 63 AMG': 53,
 'MINI Cooper': 54,
 'Volkswagen T6 other': 55,
 'Toyota Venza': 56,
 'Porsche Panamera': 57,
 'Nissan Rogue': 58,
 'Nissan Altima': 59,
 'Isuzu NQR': 60,
 'MAN-VOLKSWAGEN FLATBED': 61,
 'Hyundai ix35': 62,
 'Mercedes-Benz GLE 43 AMG': 63,
 'Rolls-Royce Ghost': 64,
 'Mercedes-Benz GLE 450': 65,
 'Mercedes-Benz C 180': 66,
 'Ford Explorer': 67,
 'Ford Expedition': 68,
 'Lexus ES 350': 69,
 'Volkswagen Passat': 70,
 'Mercedes-Benz CABIN PLUS CHASSIS ONLY': 71,
 'Mercedes-Benz GLK 350': 72,
 'Lexus RX 300': 73,
 'Infiniti M35': 74,
 'Mercedes-Benz WATER TANKER': 75,
 'Mercedes-Benz G 63 AMG': 76,
 'Isuzu CABSTER': 77,
 'Toyota Sequoia': 78,
 'Mercedes-Benz S 550': 79,
 'Jeep Cherokee': 80,
 'Dodge Charger': 81,
 'DAF 45': 82,
 'Ford Edge': 83,
 'Honda Accord': 84,
 'Mercedes-Benz E 320': 85,
 'Toyota Dyna': 86,
 'Hyundai Azera': 87,
 'GAC Gonow Other': 88,
 'Land Rover Range Rover Sport': 89,
 'Honda Civic': 90,
 'Toyota Prado': 91,
 'Man TGA 18.360': 92,
 'Volvo S80': 93,
 'Mack CXN613': 94,
 'Nissan Titan': 95,
 'Mercedes-Benz ML 320': 96,
 'MINI Cooper Countryman': 97,
 'Toyota RAV 4': 98,
 'BMW X3': 99,
 'Man LE 8. 180 PLATFORM TRUCK': 100,
 'Mazda 6': 101,
 'Mack CH613 CONVENTIONAL CAB': 102,
 'Lexus GX 470': 103,
 'Nissan INFINITI M90.150/2': 104,
 'Mercedes-Benz 814': 105,
 'Mitsubishi Eclipse': 106,
 'Mercedes-Benz ML 430': 107,
 'Mercedes-Benz GLK 300': 108,
 'Volvo XC90': 109,
 'Nissan X-Trail': 110,
 'BMW 525': 111,
 'Mercedes-Benz GLE 350': 112,
 'Mercedes-Benz E 350': 113,
 'Mercedes-Benz GLA 180': 114,
 'Toyota Camry': 115,
 'Mitsubishi CANTER PICK UP': 116,
 'ALPINA B3': 117,
 'Land Rover Range Rover Velar': 118,
 'Toyota C-HR': 119,
 'Audi S6': 120,
 'Jaguar XJ8': 121,
 'Volvo XC60': 122,
 'Mazda CX-9': 123,
 'Lexus RX 330': 124,
 'Kia Rio': 125,
 'Honda Crosstour': 126,
 'Ford Focus': 127,
 'Hyundai Santa Fe': 128,
 'BMW 730': 129,
 'Toyota Matrix': 130,
 'Acura RDX': 131,
 'Mercedes-Benz S 450': 132,
 'Mazda 323': 133,
 'Man 26-403': 134,
 'Toyota Hilux': 135,
 'Iveco EUROCARGO 120e18': 136,
 'Iveco TRUCK': 137,
 'Porsche Macan': 138,
 'Peugeot 607': 139,
 'Mercedes-Benz 350': 140,
 'Fiat Ducato': 141,
 'Mercedes-Benz Maybach': 142,
 'Mercedes-Benz 709 DB': 143,
 'Jeep Wrangler': 144,
 'Chevrolet Traverse': 145,
 'Mercedes-Benz C 250': 146,
 'Lincoln Mark': 147,
 'Mercedes-Benz G 550': 148,
 'Infiniti FX': 149,
 'Mercedes-Benz DUMP TRUCK': 150,
 'Toyota Sienna': 151,
 'Nissan Xterra': 152,
 'DAF CF': 153,
 'Lexus GS 300': 154,
 'Mercedes-Benz 220': 155,
 'JMC Vigus': 156,
 'Honda CR-V': 157,
 'Toyota Avensis': 158,
 'Lexus LS 460': 159,
 'Honda Ridgeline': 160,
 'Acura TSX': 161,
 'Nissan Cabstar': 162,
 'Mitsubishi Pajero': 163,
 'BMW 740': 164,
 'IVECO EUROTECH 7.50E-16': 165,
 'Kia Stinger': 166,
 'Mercedes-Benz SL 400': 167,
 'Volkswagen Golf': 168,
 'Scania P94 FLATBED': 169,
 'Pontiac Vibe': 170,
 'Jaguar X-Type': 171,
 'BMW 335': 172,
 'Mitsubishi Montero': 173,
 'Man Diesel 19.314 FILT-N': 174,
 'Mercedes-Benz GL 450': 175,
 'Volkswagen 17.22': 176,
 'Man BOCKMANN': 177,
 'IVM LT35': 178,
 'Toyota Tacoma': 179,
 'Toyota Corolla': 180,
 'Lexus IS 250': 181,
 'Toyota Coaster': 182,
 'Toyota Avalon': 183,
 'BMW 325': 184,
 'Bentley Arnage': 185,
 'Lexus CT 200h': 186,
 'Volkswagen Sharan': 187,
 'Nissan Maxima': 188,
 'Mitsubishi L200': 189,
 'Mercedes-Benz 320': 190,
 'Volkswagen Tiguan': 191,
 'Hyundai Elantra': 192,
 'Mack CH613': 193,
 'Mitsubishi Galant': 194,
 'Nissan Versa': 195,
 'BMW 750': 196,
 'BMW 535': 197,
 'DAF 95XF TRACTOR HEAD': 198,
 'Volvo FH12': 199,
 'Chevrolet Camaro': 200,
 'Honda Pilot': 201,
 'MINI Cooper Coupé': 202,
 'Nissan Frontier': 203,
 'Mercedes-Benz C 300': 204,
 'Ford Mustang': 205,
 'Nissan Sentra': 206,
 'Toyota Yaris': 207,
 'Volkswagen Touareg': 208,
 'Nissan Pathfinder': 209,
 'Mazda Tribute': 210,
 'BMW X6': 211,
 'Volvo FL6': 212,
 'Honda Fit': 213,
 'Kia Cerato': 214,
 'Lexus RX 400': 215,
 'Toyota Solara': 216,
 'Mercedes-Benz C 450 AMG': 217,
 'Honda Odyssey': 218,
 'Ford TRANSIT PICKUP': 219,
 'Mercedes-Benz C 320': 220,
 'Kia Soul': 221,
 'Infiniti QX80': 222,
 'Mercedes-Benz GLA 250': 223,
 'Chevrolet Evanda': 224,
 'Acura MDX': 225,
 'Toyota DYNA 200': 226,
 'Nissan A': 227,
 'Peugeot 307': 228,
 'Mercedes-Benz ATEGO': 229,
 'Man Truck 18.44': 230,
 'Volvo FL12': 231,
 'Land Rover Range Rover': 232,
 'Lexus LX 570': 233,
 'BMW 745': 234,
 'Land Rover Discovery': 235,
 'Mack R-686ST': 236,
 'Nissan Primera': 237,
 'Mercedes-Benz C 350': 238,
 'Toyota Vitz': 239}

In [15]:
train['title'] = train['title'].replace(car_title_label)
test['title'] = test['title'].replace(car_title_label)

In [16]:
train.location.unique()

array(['Lagos ', 'Lagos', 'Abuja', 'Lagos State', 'Ogun', 'FCT', 'Accra',
       'other', 'Abuja ', 'Abia State', 'Adamawa ', 'Abia', 'Ogun State'],
      dtype=object)

In [17]:
# Lagos, Abuja has same name but different label

train['location'] = train['location'].replace({
    'Lagos ' : 'Lagos',
    'Abuja ' : 'Abuja',
    'Lagos State' : 'Lagos',
    'Ogun State' : 'Ogun',
    'Abia State' : 'Abia'
})

In [18]:
test['location'] = test['location'].replace({
    'Abuja ' : 'Abuja',
    'Lagos ' : 'Lagos',
    'Lagos State' : 'Lagos',
    'Ogun State' : 'Ogun',
    'Arepo ogun state ' : 'Ogun'
})

In [19]:
train.location.value_counts()

Lagos       831
Abuja       147
Ogun         27
other         4
FCT           2
Abia          2
Accra         1
Adamawa       1
Name: location, dtype: int64

In [20]:
test.location.value_counts()

Lagos     354
Abuja      69
Ogun       10
Mushin      1
other       1
Abia        1
Name: location, dtype: int64

In [21]:
(set(train.location.unique()) | set(test.location.unique())) - (set(train.location.unique()) & set(test.location.unique()))

{'Accra', 'Adamawa ', 'FCT', 'Mushin'}

In [22]:
train['location'] = train['location'].replace({
    'Accra' : 'other',
    'Adamawa ' : 'other',
    'FCT' : 'other',
    'Mushin' : 'other'
})

train.location.value_counts()

Lagos    831
Abuja    147
Ogun      27
other      8
Abia       2
Name: location, dtype: int64

In [23]:
test['location'] = test['location'].replace({
    'Accra' : 'other',
    'Adamawa ' : 'other',
    'FCT' : 'other',
    'Mushin' : 'other'
})

test.location.value_counts()

Lagos    354
Abuja     69
Ogun      10
other      2
Abia       1
Name: location, dtype: int64

In [24]:
location_label = {location : label for label, location in enumerate(train.location.unique())}
location_label

{'Lagos': 0, 'Abuja': 1, 'Ogun': 2, 'other': 3, 'Abia': 4}

In [25]:
train['location'] = train['location'].replace(location_label)
test['location'] = test['location'].replace(location_label)

In [26]:
train.head()

,title,odometer,location,isimported,engine,transmission,fuel,paint,year,target,brand
0,98,18277,0,Foreign Used,4-cylinder(I4),automatic,petrol,Red,2016,13665000,10
1,47,10,0,New,4-cylinder(I4),automatic,petrol,Black,2019,33015000,10
2,9,83091,0,Foreign Used,6-cylinder(V6),automatic,petrol,Red,2012,9915000,28
3,69,91524,0,Foreign Used,4-cylinder(I4),automatic,petrol,Gray,2007,3815000,21
4,56,94177,0,Foreign Used,6-cylinder(V6),automatic,petrol,Red,2010,7385000,10

In [27]:
train.paint.value_counts()

Black          292
White          115
Silver         103
Grey            84
Blue            70
              ...
WINE             1
Silver/grey      1
Ink blue         1
Light blue       1
Off white l      1
Name: paint, Length: 76, dtype: int64

In [28]:
test.paint.value_counts()

Black                      118
Silver                      62
White                       45
Red                         36
Grey                        30
Blue                        27
white                       16
Dark Grey                   14
Gray                        13
Gold                         9
Green                        8
Brown                        5
Black                        4
Dark Blue                    4
Dark Green                   3
Yellow                       3
Blue                         3
green                        3
Ash                          2
Wine                         2
Grey                         2
Sliver                       2
Light Grey                   2
White and green              1
Dark blue                    1
Beige                        1
Classic Silver Met(1F7)      1
Green                        1
Grey and black               1
  Brown                      1
Indigo ink pearl             1
Navy blue                    1
blue                         1
Silver                       1
BLACK                        1
Maroon                       1
Golf                         1
Sliver                       1
Gold                         1
Dark Ash                     1
Cream                        1
Blac                         1
GOLD                         1
black                        1
Cream                        1
Mint green                   1
Name: paint, dtype: int64

In [29]:
import re

def clean_text(texts):
    corpus = []
    for i in range(0, len(texts)):
        review = re.sub(r'[@%\\*=()/~#&\+á?\xc3\xa1\-\|\.\:\;\!\-\,\_\~\$\'\"\n\]\[\>\<]', '',texts[i]) #@%*=()/+ 와 같은 문장부호 제거
        review = re.sub(r'\d+','',review)#숫자 제거
        review = review.lower() #소문자 변환
        review = re.sub(r'\s+', ' ', review) #extra space 제거
        review = re.sub(r'<[^>]+>','',review) #Html tags 제거
        review = re.sub(r'\s+', ' ', review) #spaces 제거
        review = re.sub(r"^\s+", '', review) #space from start 제거
        review = re.sub(r'\s+$', '', review) #space from the end 제거
        review = re.sub(r'_', ' ', review) #space from the end 제거
        #review = re.sub(r'l', '', review)
        corpus.append(review)

    return corpus

In [30]:
train_paint = clean_text(train['paint']) #메소드 적용
train['paint'] = train_paint
print('train data에서 paint의 unique 카테고리 개수 : ', len(train['paint'].unique()))

train data에서 paint의 unique 카테고리 개수 :  51

In [31]:
train['paint'] = train['paint'] = train['paint'].apply(lambda x : 'blue' if x.find('blue') >= 0 else x)
train['paint'] = train['paint'] = train['paint'].apply(lambda x : 'red' if x.find('red') >= 0 else x)
train['paint'] = train['paint'] = train['paint'].apply(lambda x : 'green' if x.find('green') >= 0 else x)
train['paint'] = train['paint'] = train['paint'].apply(lambda x : 'white' if x.find('white') >= 0 else x)
train['paint'] = train['paint'] = train['paint'].apply(lambda x : 'grey' if x.find('grey') >= 0 else x)
train['paint'] = train['paint'] = train['paint'].apply(lambda x : 'grey' if x.find('gery') >= 0 else x)
train['paint'] = train['paint'] = train['paint'].apply(lambda x : 'grey' if x.find('gray') >= 0 else x)
train['paint'] = train['paint'] = train['paint'].apply(lambda x : 'ash' if x.find('ash') >= 0 else x)
train['paint'] = train['paint'] = train['paint'].apply(lambda x : 'brown' if x.find('brown') >= 0 else x)
train['paint'] = train['paint'] = train['paint'].apply(lambda x : 'silver' if x.find('silver') >= 0 else x)
train['paint'] = train['paint'] = train['paint'].apply(lambda x : 'silver' if x.find('sliver') >= 0 else x)
train['paint'] = train['paint'] = train['paint'].apply(lambda x : 'black' if x.find('black') >= 0 else x)
train['paint'] = train['paint'] = train['paint'].apply(lambda x : 'gold' if x.find('gold') >= 0 else x)
train['paint'] = train['paint'] = train['paint'].apply(lambda x : 'wine' if x.find('whine') >= 0 else x)

In [32]:
train.paint.unique()

array(['red', 'black', 'grey', 'white', 'blue', 'silver', 'brown',
       'green', 'purple', 'gold', 'milk', 'beige', 'ash', 'orange',
       'cream', 'yellow', 'wine', 'maroon'], dtype=object)

In [33]:
test_paint = clean_text(test['paint'])
test['paint'] = test_paint
print('test data에서 paint의 unique 카테고리 개수 : ', len(test['paint'].unique()))

test data에서 paint의 unique 카테고리 개수 :  30

In [34]:
test['paint'] = test['paint'] = test['paint'].apply(lambda x : 'blue' if x.find('blue') >= 0 else x)
test['paint'] = test['paint'] = test['paint'].apply(lambda x : 'red' if x.find('red') >= 0 else x)
test['paint'] = test['paint'] = test['paint'].apply(lambda x : 'green' if x.find('green') >= 0 else x)
test['paint'] = test['paint'] = test['paint'].apply(lambda x : 'white' if x.find('white') >= 0 else x)
test['paint'] = test['paint'] = test['paint'].apply(lambda x : 'grey' if x.find('grey') >= 0 else x)
test['paint'] = test['paint'] = test['paint'].apply(lambda x : 'grey' if x.find('gery') >= 0 else x)
test['paint'] = test['paint'] = test['paint'].apply(lambda x : 'grey' if x.find('gray') >= 0 else x)
test['paint'] = test['paint'] = test['paint'].apply(lambda x : 'ash' if x.find('ash') >= 0 else x)
test['paint'] = test['paint'] = test['paint'].apply(lambda x : 'brown' if x.find('brown') >= 0 else x)
test['paint'] = test['paint'] = test['paint'].apply(lambda x : 'silver' if x.find('silver') >= 0 else x)
test['paint'] = test['paint'] = test['paint'].apply(lambda x : 'silver' if x.find('sliver') >= 0 else x)
test['paint'] = test['paint'] = test['paint'].apply(lambda x : 'black' if x.find('black') >= 0 else x)
test['paint'] = test['paint'] = test['paint'].apply(lambda x : 'black' if x.find('blac') >= 0 else x)
test['paint'] = test['paint'] = test['paint'].apply(lambda x : 'gold' if x.find('gold') >= 0 else x)
test['paint'] = test['paint'] = test['paint'].apply(lambda x : 'gold' if x.find('golf') >= 0 else x)
test['paint'] = test['paint'] = test['paint'].apply(lambda x : 'wine' if x.find('whine') >= 0 else x)

In [35]:
test.paint.unique()

array(['white', 'black', 'grey', 'red', 'silver', 'blue', 'gold', 'green',
       'cream', 'brown', 'yellow', 'maroon', 'wine', 'ash',
       'indigo ink pearl', 'beige'], dtype=object)

In [36]:
paint_label = {_paint : label for label, _paint in enumerate(set(pd.concat([train.paint, test.paint])))}
paint_label

{'grey': 0,
 'green': 1,
 'cream': 2,
 'maroon': 3,
 'yellow': 4,
 'ash': 5,
 'milk': 6,
 'blue': 7,
 'white': 8,
 'purple': 9,
 'silver': 10,
 'indigo ink pearl': 11,
 'orange': 12,
 'black': 13,
 'red': 14,
 'brown': 15,
 'wine': 16,
 'beige': 17,
 'gold': 18}

In [37]:
train['paint'] = train['paint'].replace(paint_label)
test['paint'] = test['paint'].replace(paint_label)

In [38]:
train.head()

,title,odometer,location,isimported,engine,transmission,fuel,paint,year,target,brand
0,98,18277,0,Foreign Used,4-cylinder(I4),automatic,petrol,14,2016,13665000,10
1,47,10,0,New,4-cylinder(I4),automatic,petrol,13,2019,33015000,10
2,9,83091,0,Foreign Used,6-cylinder(V6),automatic,petrol,14,2012,9915000,28
3,69,91524,0,Foreign Used,4-cylinder(I4),automatic,petrol,0,2007,3815000,21
4,56,94177,0,Foreign Used,6-cylinder(V6),automatic,petrol,14,2010,7385000,10

In [39]:
train.engine.value_counts()

4-cylinder(I4)    618
6-cylinder(V6)    222
6-cylinder(I6)    118
8-cylinder(V8)     49
3-cylinder(I3)      3
4-cylinder(H4)      2
5-cylinder(I5)      2
2-cylinder(I2)      1
Name: engine, dtype: int64

In [40]:
test.engine.value_counts()

4-cylinder(I4)      278
6-cylinder(V6)       89
6-cylinder(I6)       44
8-cylinder(V8)       21
5-cylinder(I5)        1
2-cylinder(I2)        1
12-cylinder(V12)      1
3-cylinder(I3)        1
Name: engine, dtype: int64

In [41]:
set(set(train.engine.unique()) | set(test.engine.unique())) - set(set(train.engine.unique()) & set(test.engine.unique()))

{'12-cylinder(V12)', '4-cylinder(H4)'}

In [42]:
train[train.engine == '4-cylinder(H4)']

,title,odometer,location,isimported,engine,transmission,fuel,paint,year,target,brand
327,115,3656,1,Foreign Used,4-cylinder(H4),automatic,petrol,10,2020,20015000,10
830,84,152229,0,Foreign Used,4-cylinder(H4),automatic,petrol,0,2007,2765000,18

In [43]:
test[test.engine == '12-cylinder(V12)']

,title,odometer,location,isimported,engine,transmission,fuel,paint,year,brand
142,142,6758,0,New,12-cylinder(V12),automatic,petrol,13,2019,0

In [44]:
# change cylinder data to nearest neighbor

train = train.replace({'4-cylinder(H4)' : '4-cylinder(I4)'})
test = test.replace({'12-cylinder(V12)' : '8-cylinder(V8)'})

In [45]:
engine_label = {_engine : label for label, _engine in enumerate(set(pd.concat([train.engine, test.engine])))}
engine_label

{'2-cylinder(I2)': 0,
 '6-cylinder(I6)': 1,
 '6-cylinder(V6)': 2,
 '8-cylinder(V8)': 3,
 '3-cylinder(I3)': 4,
 '5-cylinder(I5)': 5,
 '4-cylinder(I4)': 6}

In [46]:
train = train.replace(engine_label)
test = test.replace(engine_label)

In [47]:
train[(train.year <= 1900) | (train.year >= 2023)]

,title,odometer,location,isimported,engine,transmission,fuel,paint,year,target,brand
415,229,403461,0,Locally used,6,manual,diesel,8,1218,6015000,0
827,0,510053,0,Locally used,2,manual,diesel,8,1217,75015000,0

In [48]:
test[(test.year <= 1900) | (test.year >= 2023)]

,title,odometer,location,isimported,engine,transmission,fuel,paint,year,brand
304,71,650923,0,Locally used,2,manual,diesel,7,1324,0
406,150,0,0,Locally used,3,manual,diesel,8,2626,0
411,75,701934,0,Locally used,3,manual,diesel,8,1726,0

In [50]:
train['year'] = train['year'].replace([1218, 1217], [2013, 2010])
# 1218:Mercedes benz ATEGO I4
# 1217:no information-use mean

In [51]:
test['year'] = test['year'].replace([1324, 2626, 1726], [2010, 2010, 2010])