In [1]:
# This is file for data EDA

import pandas as pd
dirpath = 'C:/Users/rihot/Desktop/Deep_learning/DACON_used_car_price/'

train = pd.read_csv('data/train.csv')
test = pd.read_csv('data/test.csv')

In [2]:
train = train.drop(['id'], axis=1)
test= test.drop(['id'], axis=1)

In [3]:
def check_missing_col(dataframe):
    missing_col = []
    for col in dataframe.columns:
        missing_values = sum(dataframe[col].isna())
        # isna : if value is NAN, return 1
        is_missing = True if missing_values >= 1 else False
        if is_missing:
            print(f'결측치가 있는 컬럼 : {col} 입니다')
            print(f'해당 컬럼에 총 {missing_values} 개의 결측치가 존재합니다.')
            missing_col.append([col, dataframe[col].dtype])
    if missing_col == []:
        print('결측치가 존재하지 않습니다')
    return missing_col

In [4]:
missing_col = check_missing_col(train)

결측치가 존재하지 않습니다

In [5]:
missing_col = check_missing_col(test)

결측치가 존재하지 않습니다

In [6]:
train['brand'] = train['title'].apply(lambda x : x.split(" ")[0])
test['brand'] = test['title'].apply(lambda x: x.split(" ")[0])

In [7]:
train.brand.head()

0    Toyota
1    Toyota
2      Land
3     Lexus
4    Toyota
Name: brand, dtype: object

In [8]:
test.brand.head()

0    Mercedes-Benz
1            Honda
2    Mercedes-Benz
3           Toyota
4           Toyota
Name: brand, dtype: object

In [9]:
# set 은 집합을 처리하기 위한 자료형으로 중복을 허용하지 않는다.
# | 은 합집합 기호, & 교집합 기호, - 차집합 기호
set(train.brand) | set(test.brand)

{'ALPINA',
 'Acura',
 'Audi',
 'BMW',
 'Bentley',
 'Chevrolet',
 'DAF',
 'Dodge',
 'Fiat',
 'Ford',
 'GAC',
 'GMC',
 'Honda',
 'Hyundai',
 'IVECO',
 'IVM',
 'Infiniti',
 'Isuzu',
 'Iveco',
 'JMC',
 'Jaguar',
 'Jeep',
 'Kia',
 'Land',
 'Lexus',
 'Lincoln',
 'MAN-VOLKSWAGEN',
 'MINI',
 'Mack',
 'Man',
 'Mazda',
 'Mercedes-Benz',
 'Mercedes-Benz/52',
 'Mitsubishi',
 'Nissan',
 'Peugeot',
 'Pontiac',
 'Porsche',
 'Rolls-Royce',
 'Scania',
 'Toyota',
 'Volkswagen',
 'Volvo'}

In [10]:
train['brand'] = train['brand'].replace({'Mercedes-Benz/52' : 'Mercedes-Benz'})

In [15]:
brand_label = {_brand : label for label, _brand in enumerate(set(train.brand)|set(test.brand))}
brand_label

{'Scania': 0,
 'Jeep': 1,
 'Bentley': 2,
 'Infiniti': 3,
 'Honda': 4,
 'Audi': 5,
 'Land': 6,
 'DAF': 7,
 'Iveco': 8,
 'ALPINA': 9,
 'Lincoln': 10,
 'Chevrolet': 11,
 'Man': 12,
 'Acura': 13,
 'Jaguar': 14,
 'Pontiac': 15,
 'Volkswagen': 16,
 'Mazda': 17,
 'MAN-VOLKSWAGEN': 18,
 'MINI': 19,
 'Porsche': 20,
 'BMW': 21,
 'Toyota': 22,
 'Mercedes-Benz': 23,
 'GMC': 24,
 'Ford': 25,
 'Kia': 26,
 'Dodge': 27,
 'Volvo': 28,
 'Rolls-Royce': 29,
 'Fiat': 30,
 'Mack': 31,
 'Mitsubishi': 32,
 'Peugeot': 33,
 'GAC': 34,
 'Nissan': 35,
 'Isuzu': 36,
 'Hyundai': 37,
 'JMC': 38,
 'IVM': 39,
 'IVECO': 40,
 'Lexus': 41}

In [26]:
train['brand'] = train['brand'].replace(brand_label)
test['brand'] = test['brand'].replace(brand_label)

In [19]:
car_title = set(train.title) | set(test.title)
car_title

{'ALPINA B3',
 'Acura MDX',
 'Acura RDX',
 'Acura TL',
 'Acura TSX',
 'Acura ZDX',
 'Audi S6',
 'BMW 325',
 'BMW 335',
 'BMW 525',
 'BMW 528',
 'BMW 535',
 'BMW 730',
 'BMW 740',
 'BMW 745',
 'BMW 750',
 'BMW X3',
 'BMW X6',
 'Bentley Arnage',
 'Chevrolet Camaro',
 'Chevrolet Evanda',
 'Chevrolet Traverse',
 'DAF 45',
 'DAF 95XF TRACTOR HEAD',
 'DAF CF',
 'DAF FA 55. 180',
 'DAF XF TRACTOR HEAD',
 'Dodge Charger',
 'Fiat Ducato',
 'Ford Edge',
 'Ford Escape',
 'Ford Expedition',
 'Ford Explorer',
 'Ford F 150',
 'Ford Focus',
 'Ford Fusion',
 'Ford Mondeo',
 'Ford Mustang',
 'Ford TRANSIT PICKUP',
 'Ford Transit',
 'GAC Gonow Other',
 'GMC Terrain',
 'Honda Accord',
 'Honda CR-V',
 'Honda Civic',
 'Honda Crosstour',
 'Honda Element',
 'Honda Fit',
 'Honda Insight',
 'Honda Odyssey',
 'Honda Pilot',
 'Honda Ridgeline',
 'Hyundai Azera',
 'Hyundai Elantra',
 'Hyundai Santa Fe',
 'Hyundai Sonata',
 'Hyundai Tucson',
 'Hyundai ix35',
 'IVECO EUROTECH 7.50E-16',
 'IVM LT35',
 'Infiniti FX',
 'Infiniti JX',
 'Infiniti M35',
 'Infiniti QX80',
 'Isuzu CABSTER',
 'Isuzu NQR',
 'Iveco EUROCARGO 120e18',
 'Iveco TRUCK',
 'JMC Vigus',
 'Jaguar X-Type',
 'Jaguar XJ8',
 'Jeep Cherokee',
 'Jeep Wrangler',
 'Kia Cerato',
 'Kia Optima',
 'Kia Picanto',
 'Kia Rio',
 'Kia Sorento',
 'Kia Soul',
 'Kia Stinger',
 'Land Rover Discovery',
 'Land Rover Range Rover',
 'Land Rover Range Rover Evoque',
 'Land Rover Range Rover Sport',
 'Land Rover Range Rover Velar',
 'Lexus CT 200h',
 'Lexus ES 300',
 'Lexus ES 330',
 'Lexus ES 350',
 'Lexus GS 300',
 'Lexus GS 350',
 'Lexus GX 460',
 'Lexus GX 470',
 'Lexus IS 250',
 'Lexus LS 460',
 'Lexus LX 570',
 'Lexus RX 300',
 'Lexus RX 330',
 'Lexus RX 350',
 'Lexus RX 400',
 'Lincoln Mark',
 'MAN-VOLKSWAGEN FLATBED',
 'MINI Cooper',
 'MINI Cooper Countryman',
 'MINI Cooper Coupé',
 'Mack CH613',
 'Mack CH613 CONVENTIONAL CAB',
 'Mack CXN613',
 'Mack CXN613 CAB BEHIND ENGINE',
 'Mack R-686ST',
 'Man 26-403',
 'Man BOCKMANN',
 'Man Diesel 19.314 FILT-N',
 'Man LE 8. 180 PLATFORM TRUCK',
 'Man TGA 18.360',
 'Man Truck 18.44',
 'Mazda 323',
 'Mazda 6',
 'Mazda CX-9',
 'Mazda Tribute',
 'Mercedes-Benz 200',
 'Mercedes-Benz 220',
 'Mercedes-Benz 300',
 'Mercedes-Benz 320',
 'Mercedes-Benz 350',
 'Mercedes-Benz 450',
 'Mercedes-Benz 709 DB',
 'Mercedes-Benz 814',
 'Mercedes-Benz ATEGO',
 'Mercedes-Benz C 180',
 'Mercedes-Benz C 250',
 'Mercedes-Benz C 300',
 'Mercedes-Benz C 320',
 'Mercedes-Benz C 350',
 'Mercedes-Benz C 450 AMG',
 'Mercedes-Benz C 63 AMG',
 'Mercedes-Benz CABIN PLUS CHASSIS ONLY',
 'Mercedes-Benz CLA 250',
 'Mercedes-Benz CLS 500',
 'Mercedes-Benz DUMP TRUCK',
 'Mercedes-Benz E 200',
 'Mercedes-Benz E 300',
 'Mercedes-Benz E 320',
 'Mercedes-Benz E 350',
 'Mercedes-Benz E 550',
 'Mercedes-Benz G 550',
 'Mercedes-Benz G 63 AMG',
 'Mercedes-Benz GL 450',
 'Mercedes-Benz GLA 180',
 'Mercedes-Benz GLA 250',
 'Mercedes-Benz GLC 300',
 'Mercedes-Benz GLE 350',
 'Mercedes-Benz GLE 43 AMG',
 'Mercedes-Benz GLE 450',
 'Mercedes-Benz GLK 300',
 'Mercedes-Benz GLK 350',
 'Mercedes-Benz ML 320',
 'Mercedes-Benz ML 350',
 'Mercedes-Benz ML 430',
 'Mercedes-Benz Maybach',
 'Mercedes-Benz S 450',
 'Mercedes-Benz S 550',
 'Mercedes-Benz SL 400',
 'Mercedes-Benz WATER TANKER',
 'Mercedes-Benz/52',
 'Mitsubishi CANTER PICK UP',
 'Mitsubishi Eclipse',
 'Mitsubishi Galant',
 'Mitsubishi L200',
 'Mitsubishi Montero',
 'Mitsubishi Pajero',
 'Nissan A',
 'Nissan Altima',
 'Nissan Cabstar',
 'Nissan Frontier',
 'Nissan INFINITI M90.150/2',
 'Nissan Maxima',
 'Nissan Murano',
 'Nissan Pathfinder',
 'Nissan Primera',
 'Nissan Quest',
 'Nissan Rogue',
 'Nissan Sentra',
 'Nissan Titan',
 'Nissan Versa',
 'Nissan X-Trail',
 'Nissan Xterra',
 'Peugeot 206',
 'Peugeot 307',
 'Peugeot 308',
 'Peugeot 607',
 'Pontiac Vibe',
 'Porsche Cayenne',
 'Porsche Macan',
 'Porsche Panamera',
 'Rolls-Royce Ghost',
 'Scania P94 FLATBED',
 'Scania TRACTOR HEAD',
 'Toyota 4-Runner',
 'Toyota Avalon',
 'Toyota Avensis',
 'Toyota C-HR',
 'Toyota Camry',
 'Toyota Coaster',
 'Toyota Corolla',
 'Toyota DYNA 200',
 'Toyota Dyna',
 'Toyota Hiace',
 'Toyota Highlander',
 'Toyota Hilux',
 'Toyota Land Cruiser',
 'Toyota Matrix',
 'Toyota Prado',
 'Toyota Prius',
 'Toyota RAV 4',
 'Toyota Sequoia',
 'Toyota Sienna',
 'Toyota Solara',
 'Toyota Tacoma',
 'Toyota Tundra',
 'Toyota Venza',
 'Toyota Vitz',
 'Toyota Yaris',
 'Volkswagen 17.22',
 'Volkswagen Golf',
 'Volkswagen Jetta',
 'Volkswagen LT',
 'Volkswagen Passat',
 'Volkswagen Sharan',
 'Volkswagen T4 Caravelle',
 'Volkswagen T6 other',
 'Volkswagen Tiguan',
 'Volkswagen Touareg',
 'Volvo FH12',
 'Volvo FL12',
 'Volvo FL6',
 'Volvo FL7',
 'Volvo S80',
 'Volvo XC60',
 'Volvo XC90'}

In [20]:
car_title_label = {car_title : label for label, car_title in enumerate(car_title)}
car_title_label

{'Mercedes-Benz E 200': 0,
 'Mercedes-Benz/52': 1,
 'Ford Fusion': 2,
 'Ford Expedition': 3,
 'BMW 525': 4,
 'Volvo FH12': 5,
 'Kia Optima': 6,
 'MAN-VOLKSWAGEN FLATBED': 7,
 'Scania TRACTOR HEAD': 8,
 'Nissan Murano': 9,
 'Ford Transit': 10,
 'Mercedes-Benz 350': 11,
 'Mercedes-Benz GLA 180': 12,
 'Lexus LS 460': 13,
 'Nissan Sentra': 14,
 'Kia Cerato': 15,
 'Toyota Tacoma': 16,
 'Toyota Hiace': 17,
 'Lexus ES 350': 18,
 'Toyota Camry': 19,
 'Toyota Hilux': 20,
 'Volkswagen Jetta': 21,
 'Mack CH613': 22,
 'Lexus GS 350': 23,
 'Mack CH613 CONVENTIONAL CAB': 24,
 'Toyota C-HR': 25,
 'Kia Picanto': 26,
 'Bentley Arnage': 27,
 'Dodge Charger': 28,
 'Lexus GX 470': 29,
 'Land Rover Range Rover Sport': 30,
 'Mercedes-Benz 320': 31,
 'Lexus GX 460': 32,
 'Hyundai ix35': 33,
 'Man Diesel 19.314 FILT-N': 34,
 'Hyundai Azera': 35,
 'Land Rover Range Rover Velar': 36,
 'Kia Stinger': 37,
 'BMW 730': 38,
 'Ford F 150': 39,
 'Mercedes-Benz 300': 40,
 'Mercedes-Benz ML 320': 41,
 'Kia Sorento': 42,
 'Mercedes-Benz 220': 43,
 'Honda Element': 44,
 'BMW 528': 45,
 'Man BOCKMANN': 46,
 'Mercedes-Benz GLE 450': 47,
 'Mercedes-Benz GLE 350': 48,
 'DAF 95XF TRACTOR HEAD': 49,
 'Acura ZDX': 50,
 'Volvo XC60': 51,
 'Infiniti M35': 52,
 'MINI Cooper Coupé': 53,
 'Iveco TRUCK': 54,
 'Toyota Coaster': 55,
 'Man TGA 18.360': 56,
 'Volkswagen Touareg': 57,
 'Toyota Yaris': 58,
 'Mercedes-Benz GLC 300': 59,
 'Infiniti FX': 60,
 'Lexus RX 300': 61,
 'Porsche Macan': 62,
 'Mercedes-Benz S 550': 63,
 'Toyota Sequoia': 64,
 'Hyundai Sonata': 65,
 'Toyota 4-Runner': 66,
 'Toyota Prado': 67,
 'Volvo FL7': 68,
 'Nissan INFINITI M90.150/2': 69,
 'Nissan X-Trail': 70,
 'Jaguar XJ8': 71,
 'Ford Escape': 72,
 'Toyota Dyna': 73,
 'Mack CXN613': 74,
 'Volkswagen LT': 75,
 'MINI Cooper Countryman': 76,
 'Mercedes-Benz Maybach': 77,
 'Scania P94 FLATBED': 78,
 'Volkswagen T4 Caravelle': 79,
 'Toyota Sienna': 80,
 'Ford Explorer': 81,
 'Mercedes-Benz C 63 AMG': 82,
 'Mercedes-Benz C 320': 83,
 'Hyundai Santa Fe': 84,
 'Toyota Avensis': 85,
 'BMW 325': 86,
 'Peugeot 307': 87,
 'Jaguar X-Type': 88,
 'Volkswagen Passat': 89,
 'Mercedes-Benz E 550': 90,
 'Audi S6': 91,
 'Honda Civic': 92,
 'Acura RDX': 93,
 'IVECO EUROTECH 7.50E-16': 94,
 'Land Rover Discovery': 95,
 'Volvo FL6': 96,
 'Nissan Pathfinder': 97,
 'ALPINA B3': 98,
 'Iveco EUROCARGO 120e18': 99,
 'Hyundai Tucson': 100,
 'Mazda CX-9': 101,
 'Ford TRANSIT PICKUP': 102,
 'Honda Accord': 103,
 'Rolls-Royce Ghost': 104,
 'Infiniti JX': 105,
 'Lexus RX 400': 106,
 'Mitsubishi Montero': 107,
 'Honda Ridgeline': 108,
 'Mercedes-Benz C 350': 109,
 'Land Rover Range Rover': 110,
 'Honda CR-V': 111,
 'Porsche Panamera': 112,
 'DAF CF': 113,
 'Mercedes-Benz C 300': 114,
 'Nissan Quest': 115,
 'Chevrolet Camaro': 116,
 'Honda Fit': 117,
 'Man 26-403': 118,
 'Volvo FL12': 119,
 'Fiat Ducato': 120,
 'Volkswagen Sharan': 121,
 'Volkswagen 17.22': 122,
 'Mazda 323': 123,
 'Toyota Vitz': 124,
 'Porsche Cayenne': 125,
 'Mercedes-Benz E 350': 126,
 'Infiniti QX80': 127,
 'IVM LT35': 128,
 'Mercedes-Benz WATER TANKER': 129,
 'Lincoln Mark': 130,
 'Kia Soul': 131,
 'Mercedes-Benz CLA 250': 132,
 'Mercedes-Benz GLK 300': 133,
 'Honda Crosstour': 134,
 'Land Rover Range Rover Evoque': 135,
 'Lexus CT 200h': 136,
 'Nissan Primera': 137,
 'BMW 750': 138,
 'Mercedes-Benz ML 350': 139,
 'Ford Focus': 140,
 'Jeep Cherokee': 141,
 'Mercedes-Benz S 450': 142,
 'Lexus GS 300': 143,
 'BMW 335': 144,
 'Toyota Land Cruiser': 145,
 'Mack R-686ST': 146,
 'Mercedes-Benz G 63 AMG': 147,
 'Toyota Corolla': 148,
 'Mercedes-Benz C 250': 149,
 'Toyota Highlander': 150,
 'Pontiac Vibe': 151,
 'Volvo S80': 152,
 'Lexus ES 330': 153,
 'Volkswagen T6 other': 154,
 'Jeep Wrangler': 155,
 'Acura TL': 156,
 'DAF 45': 157,
 'Lexus ES 300': 158,
 'Mercedes-Benz 200': 159,
 'Toyota Matrix': 160,
 'Isuzu NQR': 161,
 'Mercedes-Benz DUMP TRUCK': 162,
 'Toyota DYNA 200': 163,
 'Lexus LX 570': 164,
 'Nissan A': 165,
 'Mercedes-Benz CLS 500': 166,
 'Mercedes-Benz 709 DB': 167,
 'Mercedes-Benz GLE 43 AMG': 168,
 'Honda Odyssey': 169,
 'Honda Pilot': 170,
 'GAC Gonow Other': 171,
 'Nissan Rogue': 172,
 'Peugeot 607': 173,
 'GMC Terrain': 174,
 'Kia Rio': 175,
 'JMC Vigus': 176,
 'BMW 740': 177,
 'Mercedes-Benz GL 450': 178,
 'Nissan Versa': 179,
 'Isuzu CABSTER': 180,
 'Mitsubishi CANTER PICK UP': 181,
 'Volkswagen Tiguan': 182,
 'Nissan Maxima': 183,
 'BMW 535': 184,
 'Peugeot 206': 185,
 'Mazda 6': 186,
 'Lexus RX 350': 187,
 'BMW X6': 188,
 'Mitsubishi Galant': 189,
 'Nissan Titan': 190,
 'Mercedes-Benz E 320': 191,
 'Man Truck 18.44': 192,
 'Mack CXN613 CAB BEHIND ENGINE': 193,
 'Toyota RAV 4': 194,
 'Lexus RX 330': 195,
 'Chevrolet Evanda': 196,
 'Mercedes-Benz 450': 197,
 'Toyota Tundra': 198,
 'DAF FA 55. 180': 199,
 'Toyota Solara': 200,
 'Nissan Cabstar': 201,
 'Man LE 8. 180 PLATFORM TRUCK': 202,
 'Mazda Tribute': 203,
 'Mercedes-Benz C 180': 204,
 'Mercedes-Benz 814': 205,
 'Mitsubishi Eclipse': 206,
 'Mitsubishi L200': 207,
 'Mitsubishi Pajero': 208,
 'Toyota Venza': 209,
 'Toyota Avalon': 210,
 'DAF XF TRACTOR HEAD': 211,
 'Nissan Altima': 212,
 'Chevrolet Traverse': 213,
 'Mercedes-Benz GLA 250': 214,
 'BMW X3': 215,
 'Mercedes-Benz SL 400': 216,
 'Ford Edge': 217,
 'Mercedes-Benz GLK 350': 218,
 'Peugeot 308': 219,
 'Lexus IS 250': 220,
 'MINI Cooper': 221,
 'Toyota Prius': 222,
 'Mercedes-Benz CABIN PLUS CHASSIS ONLY': 223,
 'BMW 745': 224,
 'Nissan Frontier': 225,
 'Acura TSX': 226,
 'Volkswagen Golf': 227,
 'Honda Insight': 228,
 'Mercedes-Benz C 450 AMG': 229,
 'Acura MDX': 230,
 'Ford Mondeo': 231,
 'Nissan Xterra': 232,
 'Mercedes-Benz ATEGO': 233,
 'Volvo XC90': 234,
 'Mercedes-Benz ML 430': 235,
 'Mercedes-Benz G 550': 236,
 'Ford Mustang': 237,
 'Mercedes-Benz E 300': 238,
 'Hyundai Elantra': 239}

In [23]:
train['title'] = train['title'].replace(car_title_label)
test['title'] = test['title'].replace(car_title_label)

In [30]:
train.location.unique()

array(['Lagos ', 'Lagos', 'Abuja', 'Lagos State', 'Ogun', 'FCT', 'Accra',
       'other', 'Abuja ', 'Abia State', 'Adamawa ', 'Abia', 'Ogun State'],
      dtype=object)

In [49]:
# Lagos, Abuja has same name but different label

train['location'] = train['location'].replace({
    'Lagos ' : 'Lagos',
    'Abuja ' : 'Abuja',
    'Lagos State' : 'Lagos',
    'Ogun State' : 'Ogun',
    'Abia State' : 'Abia'
})

In [51]:
test['location'] = test['location'].replace({
    'Abuja ' : 'Abuja',
    'Lagos ' : 'Lagos',
    'Lagos State' : 'Lagos',
    'Ogun State' : 'Ogun',
    'Arepo ogun state ' : 'Ogun'
})

In [54]:
train.location.value_counts()

Lagos       831
Abuja       147
Ogun         27
other         4
FCT           2
Abia          2
Accra         1
Adamawa       1
Name: location, dtype: int64

In [55]:
test.location.value_counts()

Lagos     354
Abuja      69
Ogun       10
Mushin      1
other       1
Abia        1
Name: location, dtype: int64

In [56]:
(set(train.location.unique()) | set(test.location.unique())) - (set(train.location.unique()) & set(test.location.unique()))

{'Accra', 'Adamawa ', 'FCT', 'Mushin'}

In [58]:
train['location'] = train['location'].replace({
    'Accra' : 'other',
    'Adamawa ' : 'other',
    'FCT' : 'other',
    'Mushin' : 'other'
})

train.location.value_counts()

Lagos    831
Abuja    147
Ogun      27
other      8
Abia       2
Name: location, dtype: int64

In [59]:
test['location'] = test['location'].replace({
    'Accra' : 'other',
    'Adamawa ' : 'other',
    'FCT' : 'other',
    'Mushin' : 'other'
})

test.location.value_counts()

Lagos    354
Abuja     69
Ogun      10
other      2
Abia       1
Name: location, dtype: int64

In [60]:
location_label = {location : label for label, location in enumerate(train.location.unique())}
location_label

{'Lagos': 0, 'Abuja': 1, 'Ogun': 2, 'other': 3, 'Abia': 4}

In [61]:
train['location'] = train['location'].replace(location_label)
test['location'] = test['location'].replace(location_label)

In [63]:
train.head()

,title,odometer,location,isimported,engine,transmission,fuel,paint,year,target,brand
0,194,18277,0,Foreign Used,4-cylinder(I4),automatic,petrol,Red,2016,13665000,22
1,145,10,0,New,4-cylinder(I4),automatic,petrol,Black,2019,33015000,22
2,135,83091,0,Foreign Used,6-cylinder(V6),automatic,petrol,Red,2012,9915000,6
3,18,91524,0,Foreign Used,4-cylinder(I4),automatic,petrol,Gray,2007,3815000,41
4,209,94177,0,Foreign Used,6-cylinder(V6),automatic,petrol,Red,2010,7385000,22