In [1]:
# This is file for data preprocess

import pandas as pd
dirpath = 'C:/Users/rihot/Desktop/Deep_learning/DACON_used_car_price/'

train = pd.read_csv('data/train.csv')
test = pd.read_csv('data/test.csv')

In [2]:
train = train.drop(['id'], axis=1)
test= test.drop(['id'], axis=1)

In [3]:
def check_missing_col(dataframe):
    missing_col = []
    for col in dataframe.columns:
        missing_values = sum(dataframe[col].isna())
        # isna : if value is NAN, return 1
        is_missing = True if missing_values >= 1 else False
        if is_missing:
            print(f'결측치가 있는 컬럼 : {col} 입니다')
            print(f'해당 컬럼에 총 {missing_values} 개의 결측치가 존재합니다.')
            missing_col.append([col, dataframe[col].dtype])
    if missing_col == []:
        print('결측치가 존재하지 않습니다')
    return missing_col

In [4]:
missing_col = check_missing_col(train)

결측치가 존재하지 않습니다

In [5]:
missing_col = check_missing_col(test)

결측치가 존재하지 않습니다

In [6]:
train['brand'] = train['title'].apply(lambda x : x.split(" ")[0])
test['brand'] = test['title'].apply(lambda x: x.split(" ")[0])

In [7]:
train.brand.head()

0    Toyota
1    Toyota
2      Land
3     Lexus
4    Toyota
Name: brand, dtype: object

In [8]:
test.brand.head()

0    Mercedes-Benz
1            Honda
2    Mercedes-Benz
3           Toyota
4           Toyota
Name: brand, dtype: object

In [9]:
# set 은 집합을 처리하기 위한 자료형으로 중복을 허용하지 않는다.
# | 은 합집합 기호, & 교집합 기호, - 차집합 기호
set(train.brand) | set(test.brand)

{'ALPINA',
 'Acura',
 'Audi',
 'BMW',
 'Bentley',
 'Chevrolet',
 'DAF',
 'Dodge',
 'Fiat',
 'Ford',
 'GAC',
 'GMC',
 'Honda',
 'Hyundai',
 'IVECO',
 'IVM',
 'Infiniti',
 'Isuzu',
 'Iveco',
 'JMC',
 'Jaguar',
 'Jeep',
 'Kia',
 'Land',
 'Lexus',
 'Lincoln',
 'MAN-VOLKSWAGEN',
 'MINI',
 'Mack',
 'Man',
 'Mazda',
 'Mercedes-Benz',
 'Mercedes-Benz/52',
 'Mitsubishi',
 'Nissan',
 'Peugeot',
 'Pontiac',
 'Porsche',
 'Rolls-Royce',
 'Scania',
 'Toyota',
 'Volkswagen',
 'Volvo'}

In [10]:
train['brand'] = train['brand'].replace({'Mercedes-Benz/52' : 'Mercedes-Benz'})

In [11]:
brand_label = {_brand : label for label, _brand in enumerate(set(train.brand)|set(test.brand))}
brand_label

{'Rolls-Royce': 0,
 'Hyundai': 1,
 'Kia': 2,
 'Infiniti': 3,
 'IVECO': 4,
 'Acura': 5,
 'Lexus': 6,
 'Fiat': 7,
 'GAC': 8,
 'Jaguar': 9,
 'Lincoln': 10,
 'Jeep': 11,
 'Peugeot': 12,
 'Isuzu': 13,
 'Honda': 14,
 'Scania': 15,
 'Mazda': 16,
 'Pontiac': 17,
 'DAF': 18,
 'Man': 19,
 'MAN-VOLKSWAGEN': 20,
 'Iveco': 21,
 'GMC': 22,
 'Ford': 23,
 'Mack': 24,
 'Volvo': 25,
 'Porsche': 26,
 'Chevrolet': 27,
 'Volkswagen': 28,
 'Nissan': 29,
 'ALPINA': 30,
 'Land': 31,
 'IVM': 32,
 'Mitsubishi': 33,
 'Mercedes-Benz': 34,
 'MINI': 35,
 'Toyota': 36,
 'Audi': 37,
 'JMC': 38,
 'BMW': 39,
 'Dodge': 40,
 'Bentley': 41}

In [12]:
train['brand'] = train['brand'].replace(brand_label)
test['brand'] = test['brand'].replace(brand_label)

In [13]:
car_title = set(train.title) | set(test.title)
car_title

{'ALPINA B3',
 'Acura MDX',
 'Acura RDX',
 'Acura TL',
 'Acura TSX',
 'Acura ZDX',
 'Audi S6',
 'BMW 325',
 'BMW 335',
 'BMW 525',
 'BMW 528',
 'BMW 535',
 'BMW 730',
 'BMW 740',
 'BMW 745',
 'BMW 750',
 'BMW X3',
 'BMW X6',
 'Bentley Arnage',
 'Chevrolet Camaro',
 'Chevrolet Evanda',
 'Chevrolet Traverse',
 'DAF 45',
 'DAF 95XF TRACTOR HEAD',
 'DAF CF',
 'DAF FA 55. 180',
 'DAF XF TRACTOR HEAD',
 'Dodge Charger',
 'Fiat Ducato',
 'Ford Edge',
 'Ford Escape',
 'Ford Expedition',
 'Ford Explorer',
 'Ford F 150',
 'Ford Focus',
 'Ford Fusion',
 'Ford Mondeo',
 'Ford Mustang',
 'Ford TRANSIT PICKUP',
 'Ford Transit',
 'GAC Gonow Other',
 'GMC Terrain',
 'Honda Accord',
 'Honda CR-V',
 'Honda Civic',
 'Honda Crosstour',
 'Honda Element',
 'Honda Fit',
 'Honda Insight',
 'Honda Odyssey',
 'Honda Pilot',
 'Honda Ridgeline',
 'Hyundai Azera',
 'Hyundai Elantra',
 'Hyundai Santa Fe',
 'Hyundai Sonata',
 'Hyundai Tucson',
 'Hyundai ix35',
 'IVECO EUROTECH 7.50E-16',
 'IVM LT35',
 'Infiniti FX',
 'Infiniti JX',
 'Infiniti M35',
 'Infiniti QX80',
 'Isuzu CABSTER',
 'Isuzu NQR',
 'Iveco EUROCARGO 120e18',
 'Iveco TRUCK',
 'JMC Vigus',
 'Jaguar X-Type',
 'Jaguar XJ8',
 'Jeep Cherokee',
 'Jeep Wrangler',
 'Kia Cerato',
 'Kia Optima',
 'Kia Picanto',
 'Kia Rio',
 'Kia Sorento',
 'Kia Soul',
 'Kia Stinger',
 'Land Rover Discovery',
 'Land Rover Range Rover',
 'Land Rover Range Rover Evoque',
 'Land Rover Range Rover Sport',
 'Land Rover Range Rover Velar',
 'Lexus CT 200h',
 'Lexus ES 300',
 'Lexus ES 330',
 'Lexus ES 350',
 'Lexus GS 300',
 'Lexus GS 350',
 'Lexus GX 460',
 'Lexus GX 470',
 'Lexus IS 250',
 'Lexus LS 460',
 'Lexus LX 570',
 'Lexus RX 300',
 'Lexus RX 330',
 'Lexus RX 350',
 'Lexus RX 400',
 'Lincoln Mark',
 'MAN-VOLKSWAGEN FLATBED',
 'MINI Cooper',
 'MINI Cooper Countryman',
 'MINI Cooper Coupé',
 'Mack CH613',
 'Mack CH613 CONVENTIONAL CAB',
 'Mack CXN613',
 'Mack CXN613 CAB BEHIND ENGINE',
 'Mack R-686ST',
 'Man 26-403',
 'Man BOCKMANN',
 'Man Diesel 19.314 FILT-N',
 'Man LE 8. 180 PLATFORM TRUCK',
 'Man TGA 18.360',
 'Man Truck 18.44',
 'Mazda 323',
 'Mazda 6',
 'Mazda CX-9',
 'Mazda Tribute',
 'Mercedes-Benz 200',
 'Mercedes-Benz 220',
 'Mercedes-Benz 300',
 'Mercedes-Benz 320',
 'Mercedes-Benz 350',
 'Mercedes-Benz 450',
 'Mercedes-Benz 709 DB',
 'Mercedes-Benz 814',
 'Mercedes-Benz ATEGO',
 'Mercedes-Benz C 180',
 'Mercedes-Benz C 250',
 'Mercedes-Benz C 300',
 'Mercedes-Benz C 320',
 'Mercedes-Benz C 350',
 'Mercedes-Benz C 450 AMG',
 'Mercedes-Benz C 63 AMG',
 'Mercedes-Benz CABIN PLUS CHASSIS ONLY',
 'Mercedes-Benz CLA 250',
 'Mercedes-Benz CLS 500',
 'Mercedes-Benz DUMP TRUCK',
 'Mercedes-Benz E 200',
 'Mercedes-Benz E 300',
 'Mercedes-Benz E 320',
 'Mercedes-Benz E 350',
 'Mercedes-Benz E 550',
 'Mercedes-Benz G 550',
 'Mercedes-Benz G 63 AMG',
 'Mercedes-Benz GL 450',
 'Mercedes-Benz GLA 180',
 'Mercedes-Benz GLA 250',
 'Mercedes-Benz GLC 300',
 'Mercedes-Benz GLE 350',
 'Mercedes-Benz GLE 43 AMG',
 'Mercedes-Benz GLE 450',
 'Mercedes-Benz GLK 300',
 'Mercedes-Benz GLK 350',
 'Mercedes-Benz ML 320',
 'Mercedes-Benz ML 350',
 'Mercedes-Benz ML 430',
 'Mercedes-Benz Maybach',
 'Mercedes-Benz S 450',
 'Mercedes-Benz S 550',
 'Mercedes-Benz SL 400',
 'Mercedes-Benz WATER TANKER',
 'Mercedes-Benz/52',
 'Mitsubishi CANTER PICK UP',
 'Mitsubishi Eclipse',
 'Mitsubishi Galant',
 'Mitsubishi L200',
 'Mitsubishi Montero',
 'Mitsubishi Pajero',
 'Nissan A',
 'Nissan Altima',
 'Nissan Cabstar',
 'Nissan Frontier',
 'Nissan INFINITI M90.150/2',
 'Nissan Maxima',
 'Nissan Murano',
 'Nissan Pathfinder',
 'Nissan Primera',
 'Nissan Quest',
 'Nissan Rogue',
 'Nissan Sentra',
 'Nissan Titan',
 'Nissan Versa',
 'Nissan X-Trail',
 'Nissan Xterra',
 'Peugeot 206',
 'Peugeot 307',
 'Peugeot 308',
 'Peugeot 607',
 'Pontiac Vibe',
 'Porsche Cayenne',
 'Porsche Macan',
 'Porsche Panamera',
 'Rolls-Royce Ghost',
 'Scania P94 FLATBED',
 'Scania TRACTOR HEAD',
 'Toyota 4-Runner',
 'Toyota Avalon',
 'Toyota Avensis',
 'Toyota C-HR',
 'Toyota Camry',
 'Toyota Coaster',
 'Toyota Corolla',
 'Toyota DYNA 200',
 'Toyota Dyna',
 'Toyota Hiace',
 'Toyota Highlander',
 'Toyota Hilux',
 'Toyota Land Cruiser',
 'Toyota Matrix',
 'Toyota Prado',
 'Toyota Prius',
 'Toyota RAV 4',
 'Toyota Sequoia',
 'Toyota Sienna',
 'Toyota Solara',
 'Toyota Tacoma',
 'Toyota Tundra',
 'Toyota Venza',
 'Toyota Vitz',
 'Toyota Yaris',
 'Volkswagen 17.22',
 'Volkswagen Golf',
 'Volkswagen Jetta',
 'Volkswagen LT',
 'Volkswagen Passat',
 'Volkswagen Sharan',
 'Volkswagen T4 Caravelle',
 'Volkswagen T6 other',
 'Volkswagen Tiguan',
 'Volkswagen Touareg',
 'Volvo FH12',
 'Volvo FL12',
 'Volvo FL6',
 'Volvo FL7',
 'Volvo S80',
 'Volvo XC60',
 'Volvo XC90'}

In [14]:
car_title_label = {car_title : label for label, car_title in enumerate(car_title)}
car_title_label

{'Lexus GS 300': 0,
 'Mercedes-Benz GL 450': 1,
 'Mercedes-Benz GLA 180': 2,
 'Mercedes-Benz 350': 3,
 'Ford Focus': 4,
 'Acura TL': 5,
 'DAF 95XF TRACTOR HEAD': 6,
 'Mercedes-Benz C 180': 7,
 'Mercedes-Benz ML 430': 8,
 'Mack CH613 CONVENTIONAL CAB': 9,
 'Toyota Sequoia': 10,
 'GAC Gonow Other': 11,
 'Toyota Tundra': 12,
 'Volvo FL12': 13,
 'Mercedes-Benz C 300': 14,
 'Kia Soul': 15,
 'Toyota Hilux': 16,
 'Toyota Hiace': 17,
 'Mercedes-Benz 450': 18,
 'Mercedes-Benz C 350': 19,
 'Chevrolet Traverse': 20,
 'Honda Civic': 21,
 'Lexus GX 470': 22,
 'Mercedes-Benz C 250': 23,
 'Toyota Highlander': 24,
 'Kia Sorento': 25,
 'Nissan Versa': 26,
 'Volkswagen T4 Caravelle': 27,
 'Jeep Cherokee': 28,
 'Mercedes-Benz S 550': 29,
 'Hyundai ix35': 30,
 'Volvo FL7': 31,
 'Mercedes-Benz ATEGO': 32,
 'Lexus LS 460': 33,
 'Ford TRANSIT PICKUP': 34,
 'Mercedes-Benz GLE 450': 35,
 'Mercedes-Benz 709 DB': 36,
 'Land Rover Range Rover Sport': 37,
 'BMW X6': 38,
 'Mercedes-Benz ML 320': 39,
 'Toyota Tacoma': 40,
 'Nissan Frontier': 41,
 'Ford Mustang': 42,
 'Mercedes-Benz E 350': 43,
 'Ford F 150': 44,
 'Volvo S80': 45,
 'Honda Fit': 46,
 'BMW 740': 47,
 'BMW 730': 48,
 'Pontiac Vibe': 49,
 'Volkswagen Golf': 50,
 'Mercedes-Benz S 450': 51,
 'Toyota Coaster': 52,
 'Mitsubishi Eclipse': 53,
 'Infiniti FX': 54,
 'Land Rover Range Rover Evoque': 55,
 'Mercedes-Benz GLC 300': 56,
 'Mack R-686ST': 57,
 'Toyota Yaris': 58,
 'Mercedes-Benz E 550': 59,
 'Nissan INFINITI M90.150/2': 60,
 'Man 26-403': 61,
 'Mercedes-Benz E 300': 62,
 'Lexus ES 330': 63,
 'Dodge Charger': 64,
 'Mercedes-Benz GLA 250': 65,
 'Mitsubishi Montero': 66,
 'Nissan Maxima': 67,
 'BMW 535': 68,
 'Mercedes-Benz GLE 350': 69,
 'Toyota Camry': 70,
 'Nissan X-Trail': 71,
 'Lexus GS 350': 72,
 'Mitsubishi CANTER PICK UP': 73,
 'Volkswagen Jetta': 74,
 'Chevrolet Camaro': 75,
 'MINI Cooper Coupé': 76,
 'Hyundai Azera': 77,
 'Mazda 323': 78,
 'Volkswagen Tiguan': 79,
 'Jeep Wrangler': 80,
 'Mercedes-Benz 814': 81,
 'Honda Pilot': 82,
 'Volvo FH12': 83,
 'Toyota Avensis': 84,
 'Mercedes-Benz/52': 85,
 'Toyota DYNA 200': 86,
 'Mercedes-Benz C 320': 87,
 'Honda Accord': 88,
 'Nissan Pathfinder': 89,
 'Volvo XC90': 90,
 'Toyota Sienna': 91,
 'Mack CXN613 CAB BEHIND ENGINE': 92,
 'Toyota Land Cruiser': 93,
 'Nissan Quest': 94,
 'IVM LT35': 95,
 'Nissan Primera': 96,
 'Scania P94 FLATBED': 97,
 'Mercedes-Benz G 63 AMG': 98,
 'Lexus CT 200h': 99,
 'Toyota Vitz': 100,
 'Mercedes-Benz E 200': 101,
 'BMW 528': 102,
 'Mercedes-Benz 200': 103,
 'Honda Ridgeline': 104,
 'Acura RDX': 105,
 'Man Truck 18.44': 106,
 'Ford Edge': 107,
 'Lexus RX 350': 108,
 'BMW 335': 109,
 'Mercedes-Benz Maybach': 110,
 'DAF FA 55. 180': 111,
 'GMC Terrain': 112,
 'Mazda Tribute': 113,
 'Fiat Ducato': 114,
 'Kia Stinger': 115,
 'Toyota Venza': 116,
 'Kia Picanto': 117,
 'Lexus IS 250': 118,
 'DAF 45': 119,
 'Scania TRACTOR HEAD': 120,
 'Honda Element': 121,
 'Lexus ES 350': 122,
 'Volkswagen LT': 123,
 'Land Rover Discovery': 124,
 'Lexus RX 300': 125,
 'Man TGA 18.360': 126,
 'Mercedes-Benz C 63 AMG': 127,
 'Lexus RX 400': 128,
 'Hyundai Tucson': 129,
 'Mitsubishi Pajero': 130,
 'Volvo XC60': 131,
 'Bentley Arnage': 132,
 'Mercedes-Benz GLK 350': 133,
 'Iveco EUROCARGO 120e18': 134,
 'Nissan Titan': 135,
 'Volkswagen Passat': 136,
 'Infiniti QX80': 137,
 'Land Rover Range Rover Velar': 138,
 'BMW 745': 139,
 'Infiniti JX': 140,
 'Mercedes-Benz CLA 250': 141,
 'Jaguar XJ8': 142,
 'Volkswagen Touareg': 143,
 'Lexus GX 460': 144,
 'Toyota Prius': 145,
 'Kia Optima': 146,
 'Toyota RAV 4': 147,
 'Man Diesel 19.314 FILT-N': 148,
 'Mercedes-Benz G 550': 149,
 'Nissan Cabstar': 150,
 'Mercedes-Benz WATER TANKER': 151,
 'Hyundai Santa Fe': 152,
 'Mercedes-Benz DUMP TRUCK': 153,
 'Ford Mondeo': 154,
 'Volvo FL6': 155,
 'Mitsubishi Galant': 156,
 'Kia Cerato': 157,
 'Peugeot 607': 158,
 'BMW 325': 159,
 'Mazda CX-9': 160,
 'Ford Expedition': 161,
 'Mercedes-Benz 320': 162,
 'Hyundai Elantra': 163,
 'Mercedes-Benz CABIN PLUS CHASSIS ONLY': 164,
 'BMW 750': 165,
 'Mack CH613': 166,
 'Mercedes-Benz ML 350': 167,
 'Acura TSX': 168,
 'Infiniti M35': 169,
 'Honda Insight': 170,
 'DAF CF': 171,
 'Acura ZDX': 172,
 'Man LE 8. 180 PLATFORM TRUCK': 173,
 'Toyota Solara': 174,
 'Volkswagen Sharan': 175,
 'Porsche Macan': 176,
 'Audi S6': 177,
 'Mazda 6': 178,
 'Mercedes-Benz 300': 179,
 'Toyota Avalon': 180,
 'IVECO EUROTECH 7.50E-16': 181,
 'Honda Crosstour': 182,
 'Honda Odyssey': 183,
 'Porsche Panamera': 184,
 'Toyota Prado': 185,
 'JMC Vigus': 186,
 'MINI Cooper Countryman': 187,
 'Isuzu NQR': 188,
 'Hyundai Sonata': 189,
 'Lincoln Mark': 190,
 'Toyota Dyna': 191,
 'Mercedes-Benz GLE 43 AMG': 192,
 'Lexus RX 330': 193,
 'Isuzu CABSTER': 194,
 'ALPINA B3': 195,
 'Nissan Rogue': 196,
 'Iveco TRUCK': 197,
 'Mack CXN613': 198,
 'Peugeot 308': 199,
 'Lexus LX 570': 200,
 'Ford Escape': 201,
 'Toyota Corolla': 202,
 'Mercedes-Benz CLS 500': 203,
 'Nissan Sentra': 204,
 'Chevrolet Evanda': 205,
 'Acura MDX': 206,
 'Nissan A': 207,
 'Man BOCKMANN': 208,
 'Ford Fusion': 209,
 'Volkswagen T6 other': 210,
 'Mercedes-Benz SL 400': 211,
 'Mercedes-Benz 220': 212,
 'BMW 525': 213,
 'Ford Explorer': 214,
 'Jaguar X-Type': 215,
 'BMW X3': 216,
 'Mercedes-Benz C 450 AMG': 217,
 'Honda CR-V': 218,
 'Land Rover Range Rover': 219,
 'DAF XF TRACTOR HEAD': 220,
 'MINI Cooper': 221,
 'Mitsubishi L200': 222,
 'Kia Rio': 223,
 'Toyota C-HR': 224,
 'Toyota 4-Runner': 225,
 'Rolls-Royce Ghost': 226,
 'Nissan Murano': 227,
 'Volkswagen 17.22': 228,
 'Nissan Xterra': 229,
 'Peugeot 307': 230,
 'Toyota Matrix': 231,
 'Mercedes-Benz GLK 300': 232,
 'MAN-VOLKSWAGEN FLATBED': 233,
 'Mercedes-Benz E 320': 234,
 'Ford Transit': 235,
 'Porsche Cayenne': 236,
 'Nissan Altima': 237,
 'Peugeot 206': 238,
 'Lexus ES 300': 239}

In [15]:
train['title'] = train['title'].replace(car_title_label)
test['title'] = test['title'].replace(car_title_label)

In [16]:
train.location.unique()

array(['Lagos ', 'Lagos', 'Abuja', 'Lagos State', 'Ogun', 'FCT', 'Accra',
       'other', 'Abuja ', 'Abia State', 'Adamawa ', 'Abia', 'Ogun State'],
      dtype=object)

In [17]:
# Lagos, Abuja has same name but different label

train['location'] = train['location'].replace({
    'Lagos ' : 'Lagos',
    'Abuja ' : 'Abuja',
    'Lagos State' : 'Lagos',
    'Ogun State' : 'Ogun',
    'Abia State' : 'Abia'
})

In [18]:
test['location'] = test['location'].replace({
    'Abuja ' : 'Abuja',
    'Lagos ' : 'Lagos',
    'Lagos State' : 'Lagos',
    'Ogun State' : 'Ogun',
    'Arepo ogun state ' : 'Ogun'
})

In [19]:
train.location.value_counts()

Lagos       831
Abuja       147
Ogun         27
other         4
FCT           2
Abia          2
Accra         1
Adamawa       1
Name: location, dtype: int64

In [20]:
test.location.value_counts()

Lagos     354
Abuja      69
Ogun       10
Mushin      1
other       1
Abia        1
Name: location, dtype: int64

In [21]:
(set(train.location.unique()) | set(test.location.unique())) - (set(train.location.unique()) & set(test.location.unique()))

{'Accra', 'Adamawa ', 'FCT', 'Mushin'}

In [22]:
train['location'] = train['location'].replace({
    'Accra' : 'other',
    'Adamawa ' : 'other',
    'FCT' : 'other',
    'Mushin' : 'other'
})

train.location.value_counts()

Lagos    831
Abuja    147
Ogun      27
other      8
Abia       2
Name: location, dtype: int64

In [23]:
test['location'] = test['location'].replace({
    'Accra' : 'other',
    'Adamawa ' : 'other',
    'FCT' : 'other',
    'Mushin' : 'other'
})

test.location.value_counts()

Lagos    354
Abuja     69
Ogun      10
other      2
Abia       1
Name: location, dtype: int64

In [24]:
location_label = {location : label for label, location in enumerate(train.location.unique())}
location_label

{'Lagos': 0, 'Abuja': 1, 'Ogun': 2, 'other': 3, 'Abia': 4}

In [25]:
train['location'] = train['location'].replace(location_label)
test['location'] = test['location'].replace(location_label)

In [26]:
train.head()

,title,odometer,location,isimported,engine,transmission,fuel,paint,year,target,brand
0,147,18277,0,Foreign Used,4-cylinder(I4),automatic,petrol,Red,2016,13665000,36
1,93,10,0,New,4-cylinder(I4),automatic,petrol,Black,2019,33015000,36
2,55,83091,0,Foreign Used,6-cylinder(V6),automatic,petrol,Red,2012,9915000,31
3,122,91524,0,Foreign Used,4-cylinder(I4),automatic,petrol,Gray,2007,3815000,6
4,116,94177,0,Foreign Used,6-cylinder(V6),automatic,petrol,Red,2010,7385000,36

In [27]:
train.paint.value_counts()

Black          292
White          115
Silver         103
Grey            84
Blue            70
              ...
WINE             1
Silver/grey      1
Ink blue         1
Light blue       1
Off white l      1
Name: paint, Length: 76, dtype: int64

In [28]:
test.paint.value_counts()

Black                      118
Silver                      62
White                       45
Red                         36
Grey                        30
Blue                        27
white                       16
Dark Grey                   14
Gray                        13
Gold                         9
Green                        8
Brown                        5
Black                        4
Dark Blue                    4
Dark Green                   3
Yellow                       3
Blue                         3
green                        3
Ash                          2
Wine                         2
Grey                         2
Sliver                       2
Light Grey                   2
White and green              1
Dark blue                    1
Beige                        1
Classic Silver Met(1F7)      1
Green                        1
Grey and black               1
  Brown                      1
Indigo ink pearl             1
Navy blue                    1
blue                         1
Silver                       1
BLACK                        1
Maroon                       1
Golf                         1
Sliver                       1
Gold                         1
Dark Ash                     1
Cream                        1
Blac                         1
GOLD                         1
black                        1
Cream                        1
Mint green                   1
Name: paint, dtype: int64

In [29]:
import re

def clean_text(texts):
    corpus = []
    for i in range(0, len(texts)):
        review = re.sub(r'[@%\\*=()/~#&\+á?\xc3\xa1\-\|\.\:\;\!\-\,\_\~\$\'\"\n\]\[\>\<]', '',texts[i]) #@%*=()/+ 와 같은 문장부호 제거
        review = re.sub(r'\d+','',review)#숫자 제거
        review = review.lower() #소문자 변환
        review = re.sub(r'\s+', ' ', review) #extra space 제거
        review = re.sub(r'<[^>]+>','',review) #Html tags 제거
        review = re.sub(r'\s+', ' ', review) #spaces 제거
        review = re.sub(r"^\s+", '', review) #space from start 제거
        review = re.sub(r'\s+$', '', review) #space from the end 제거
        review = re.sub(r'_', ' ', review) #space from the end 제거
        #review = re.sub(r'l', '', review)
        corpus.append(review)

    return corpus

In [30]:
train_paint = clean_text(train['paint']) #메소드 적용
train['paint'] = train_paint
print('train data에서 paint의 unique 카테고리 개수 : ', len(train['paint'].unique()))

train data에서 paint의 unique 카테고리 개수 :  51

In [31]:
train['paint'] = train['paint'] = train['paint'].apply(lambda x : 'blue' if x.find('blue') >= 0 else x)
train['paint'] = train['paint'] = train['paint'].apply(lambda x : 'red' if x.find('red') >= 0 else x)
train['paint'] = train['paint'] = train['paint'].apply(lambda x : 'green' if x.find('green') >= 0 else x)
train['paint'] = train['paint'] = train['paint'].apply(lambda x : 'white' if x.find('white') >= 0 else x)
train['paint'] = train['paint'] = train['paint'].apply(lambda x : 'grey' if x.find('grey') >= 0 else x)
train['paint'] = train['paint'] = train['paint'].apply(lambda x : 'grey' if x.find('gery') >= 0 else x)
train['paint'] = train['paint'] = train['paint'].apply(lambda x : 'grey' if x.find('gray') >= 0 else x)
train['paint'] = train['paint'] = train['paint'].apply(lambda x : 'ash' if x.find('ash') >= 0 else x)
train['paint'] = train['paint'] = train['paint'].apply(lambda x : 'brown' if x.find('brown') >= 0 else x)
train['paint'] = train['paint'] = train['paint'].apply(lambda x : 'silver' if x.find('silver') >= 0 else x)
train['paint'] = train['paint'] = train['paint'].apply(lambda x : 'silver' if x.find('sliver') >= 0 else x)
train['paint'] = train['paint'] = train['paint'].apply(lambda x : 'black' if x.find('black') >= 0 else x)
train['paint'] = train['paint'] = train['paint'].apply(lambda x : 'gold' if x.find('gold') >= 0 else x)
train['paint'] = train['paint'] = train['paint'].apply(lambda x : 'wine' if x.find('whine') >= 0 else x)

In [32]:
train.paint.unique()

array(['red', 'black', 'grey', 'white', 'blue', 'silver', 'brown',
       'green', 'purple', 'gold', 'milk', 'beige', 'ash', 'orange',
       'cream', 'yellow', 'wine', 'maroon'], dtype=object)

In [33]:
test_paint = clean_text(test['paint'])
test['paint'] = test_paint
print('test data에서 paint의 unique 카테고리 개수 : ', len(test['paint'].unique()))

test data에서 paint의 unique 카테고리 개수 :  30

In [34]:
test['paint'] = test['paint'] = test['paint'].apply(lambda x : 'blue' if x.find('blue') >= 0 else x)
test['paint'] = test['paint'] = test['paint'].apply(lambda x : 'red' if x.find('red') >= 0 else x)
test['paint'] = test['paint'] = test['paint'].apply(lambda x : 'green' if x.find('green') >= 0 else x)
test['paint'] = test['paint'] = test['paint'].apply(lambda x : 'white' if x.find('white') >= 0 else x)
test['paint'] = test['paint'] = test['paint'].apply(lambda x : 'grey' if x.find('grey') >= 0 else x)
test['paint'] = test['paint'] = test['paint'].apply(lambda x : 'grey' if x.find('gery') >= 0 else x)
test['paint'] = test['paint'] = test['paint'].apply(lambda x : 'grey' if x.find('gray') >= 0 else x)
test['paint'] = test['paint'] = test['paint'].apply(lambda x : 'ash' if x.find('ash') >= 0 else x)
test['paint'] = test['paint'] = test['paint'].apply(lambda x : 'brown' if x.find('brown') >= 0 else x)
test['paint'] = test['paint'] = test['paint'].apply(lambda x : 'silver' if x.find('silver') >= 0 else x)
test['paint'] = test['paint'] = test['paint'].apply(lambda x : 'silver' if x.find('sliver') >= 0 else x)
test['paint'] = test['paint'] = test['paint'].apply(lambda x : 'black' if x.find('black') >= 0 else x)
test['paint'] = test['paint'] = test['paint'].apply(lambda x : 'black' if x.find('blac') >= 0 else x)
test['paint'] = test['paint'] = test['paint'].apply(lambda x : 'gold' if x.find('gold') >= 0 else x)
test['paint'] = test['paint'] = test['paint'].apply(lambda x : 'gold' if x.find('golf') >= 0 else x)
test['paint'] = test['paint'] = test['paint'].apply(lambda x : 'wine' if x.find('whine') >= 0 else x)

In [35]:
test.paint.unique()

array(['white', 'black', 'grey', 'red', 'silver', 'blue', 'gold', 'green',
       'cream', 'brown', 'yellow', 'maroon', 'wine', 'ash',
       'indigo ink pearl', 'beige'], dtype=object)

In [36]:
paint_label = {_paint : label for label, _paint in enumerate(set(pd.concat([train.paint, test.paint])))}
paint_label

{'red': 0,
 'gold': 1,
 'beige': 2,
 'blue': 3,
 'cream': 4,
 'purple': 5,
 'grey': 6,
 'green': 7,
 'orange': 8,
 'yellow': 9,
 'black': 10,
 'white': 11,
 'indigo ink pearl': 12,
 'ash': 13,
 'brown': 14,
 'wine': 15,
 'silver': 16,
 'maroon': 17,
 'milk': 18}

In [37]:
train['paint'] = train['paint'].replace(paint_label)
test['paint'] = test['paint'].replace(paint_label)

In [38]:
train.head()

,title,odometer,location,isimported,engine,transmission,fuel,paint,year,target,brand
0,147,18277,0,Foreign Used,4-cylinder(I4),automatic,petrol,0,2016,13665000,36
1,93,10,0,New,4-cylinder(I4),automatic,petrol,10,2019,33015000,36
2,55,83091,0,Foreign Used,6-cylinder(V6),automatic,petrol,0,2012,9915000,31
3,122,91524,0,Foreign Used,4-cylinder(I4),automatic,petrol,6,2007,3815000,6
4,116,94177,0,Foreign Used,6-cylinder(V6),automatic,petrol,0,2010,7385000,36

In [39]:
train.engine.value_counts()

4-cylinder(I4)    618
6-cylinder(V6)    222
6-cylinder(I6)    118
8-cylinder(V8)     49
3-cylinder(I3)      3
4-cylinder(H4)      2
5-cylinder(I5)      2
2-cylinder(I2)      1
Name: engine, dtype: int64

In [40]:
test.engine.value_counts()

4-cylinder(I4)      278
6-cylinder(V6)       89
6-cylinder(I6)       44
8-cylinder(V8)       21
5-cylinder(I5)        1
2-cylinder(I2)        1
12-cylinder(V12)      1
3-cylinder(I3)        1
Name: engine, dtype: int64

In [41]:
set(set(train.engine.unique()) | set(test.engine.unique())) - set(set(train.engine.unique()) & set(test.engine.unique()))

{'12-cylinder(V12)', '4-cylinder(H4)'}

In [42]:
train[train.engine == '4-cylinder(H4)']

,title,odometer,location,isimported,engine,transmission,fuel,paint,year,target,brand
327,70,3656,1,Foreign Used,4-cylinder(H4),automatic,petrol,16,2020,20015000,36
830,88,152229,0,Foreign Used,4-cylinder(H4),automatic,petrol,6,2007,2765000,14

In [43]:
test[test.engine == '12-cylinder(V12)']

,title,odometer,location,isimported,engine,transmission,fuel,paint,year,brand
142,110,6758,0,New,12-cylinder(V12),automatic,petrol,10,2019,34

In [44]:
# change cylinder data to nearest neighbor

train = train.replace({'4-cylinder(H4)' : '4-cylinder(I4)'})
test = test.replace({'12-cylinder(V12)' : '8-cylinder(V8)'})

In [45]:
engine_label = {_engine : label for label, _engine in enumerate(set(pd.concat([train.engine, test.engine])))}
engine_label

{'8-cylinder(V8)': 0,
 '6-cylinder(I6)': 1,
 '3-cylinder(I3)': 2,
 '4-cylinder(I4)': 3,
 '6-cylinder(V6)': 4,
 '2-cylinder(I2)': 5,
 '5-cylinder(I5)': 6}

In [46]:
train = train.replace(engine_label)
test = test.replace(engine_label)

In [47]:
train[(train.year <= 1900) | (train.year >= 2023)]

,title,odometer,location,isimported,engine,transmission,fuel,paint,year,target,brand
415,32,403461,0,Locally used,3,manual,diesel,11,1218,6015000,34
827,85,510053,0,Locally used,4,manual,diesel,11,1217,75015000,34

In [48]:
test[(test.year <= 1900) | (test.year >= 2023)]

,title,odometer,location,isimported,engine,transmission,fuel,paint,year,brand
304,164,650923,0,Locally used,4,manual,diesel,3,1324,34
406,153,0,0,Locally used,0,manual,diesel,11,2626,34
411,151,701934,0,Locally used,0,manual,diesel,11,1726,34

In [49]:
train['year'] = train['year'].replace([1218, 1217], [2013, 2010])
# 1218:Mercedes benz ATEGO I4
# 1217:no information-use mean

In [50]:
test['year'] = test['year'].replace([1324, 2626, 1726], [2010, 2010, 2010])

In [51]:
train.head()

,title,odometer,location,isimported,engine,transmission,fuel,paint,year,target,brand
0,147,18277,0,Foreign Used,3,automatic,petrol,0,2016,13665000,36
1,93,10,0,New,3,automatic,petrol,10,2019,33015000,36
2,55,83091,0,Foreign Used,4,automatic,petrol,0,2012,9915000,31
3,122,91524,0,Foreign Used,3,automatic,petrol,6,2007,3815000,6
4,116,94177,0,Foreign Used,4,automatic,petrol,0,2010,7385000,36

In [52]:
train.isimported.value_counts()

Foreign Used    744
Locally used    248
New              23
Name: isimported, dtype: int64

In [53]:
test.isimported.value_counts()

Foreign Used    321
Locally used     97
New              18
Name: isimported, dtype: int64

In [54]:
isimported_label = {'Foreign Used': 0, 'Locally used' : 1, 'New ' : 2}

train['isimported'] = train['isimported'].replace(isimported_label)
test['isimported'] = test['isimported'].replace(isimported_label)

In [55]:
train.transmission.value_counts()

automatic    965
manual        50
Name: transmission, dtype: int64

In [56]:
test.transmission.value_counts()

automatic    414
manual        22
Name: transmission, dtype: int64

In [57]:
transmission_label = {'automatic' : 0, 'manual' : 1}

train['transmission'] = train['transmission'].replace(transmission_label)
test['transmission'] = test['transmission'].replace(transmission_label)

In [58]:
train.fuel.value_counts()

petrol    970
diesel     45
Name: fuel, dtype: int64

In [59]:
test.fuel.value_counts()

petrol    416
diesel     20
Name: fuel, dtype: int64

In [60]:
fuel_label = {'petrol' : 0, 'diesel' : 1}

train['fuel'] = train['fuel'].replace(fuel_label)
test['fuel'] = test['fuel'].replace(fuel_label)

In [61]:
train.head()
# All train data is preprocessed

,title,odometer,location,isimported,engine,transmission,fuel,paint,year,target,brand
0,147,18277,0,0,3,0,0,0,2016,13665000,36
1,93,10,0,2,3,0,0,10,2019,33015000,36
2,55,83091,0,0,4,0,0,0,2012,9915000,31
3,122,91524,0,0,3,0,0,6,2007,3815000,6
4,116,94177,0,0,4,0,0,0,2010,7385000,36

In [62]:
test.head()
# All test data is preprocessed

,title,odometer,location,isimported,engine,transmission,fuel,paint,year,brand
0,14,1234,1,2,3,0,0,11,2017,34
1,88,29938,1,0,3,0,0,11,2013,14
2,29,87501,0,0,3,0,0,10,2012,34
3,91,180894,0,1,4,0,0,6,2001,36
4,17,104814,0,0,3,0,0,11,2000,36

In [66]:
# Move target to last column
train = train[ ['title', 'odometer', 'location', 'isimported', 'engine', 'transmission', 'fuel', 'paint', 'year', 'brand', 'target'] ]

In [67]:
train.head()

,title,odometer,location,isimported,engine,transmission,fuel,paint,year,brand,target
0,147,18277,0,0,3,0,0,0,2016,36,13665000
1,93,10,0,2,3,0,0,10,2019,36,33015000
2,55,83091,0,0,4,0,0,0,2012,31,9915000
3,122,91524,0,0,3,0,0,6,2007,6,3815000
4,116,94177,0,0,4,0,0,0,2010,36,7385000

In [71]:
train.to_csv('data/preprocessed_train.csv', index=False)

In [72]:
test.to_csv('data/preprocessed_test.csv', index=False)